<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header><nav class="navbar">
    <div class="navbar__logo">Radj Kewalbansing</div>

    <ul class="navbar__menu">
        <li><a href="{{url_for('home')}}" class="navbar__link">Home</a></li>
        <li><a href="{{url_for('register')}}" class="navbar__link navbar__btn">register</a></li>
    </ul>
</nav></header>
    {%block body%}
    {%endblock%}
</body>
</html>